<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9caeb1">  <td>22/03/17 22:02:40</td>   <td>0</td> <td title="&gt;&gt;TestCaseRunner.driverInitialization()[pri:0, instance:pages.TestCaseRunner@1838ccb8]">&gt;&gt;driverInitialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1759482496</td>   <td></td> </tr>
<tr bgcolor="fa86ae">  <td>22/03/17 22:02:40</td>   <td>-210</td> <td title="&gt;&gt;Base.setupReporter()[pri:0, instance:pages.TestCaseRunner@1838ccb8]">&gt;&gt;setupReporter</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1759482496</td>   <td></td> </tr>
<tr bgcolor="fa86ae">  <td>22/03/17 22:02:54</td>   <td>14542</td> <td title="&lt;&lt;Base.teardown()[pri:0, instance:pages.TestCaseRunner@1838ccb8]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1759482496</td>   <td></td> </tr>
<tr bgcolor="9caeb1">  <td>22/03/17 22:02:41</td>   <td>1240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseRunner.validateKindleBuyNow()[pri:0, instance:pages.TestCaseRunner@1838ccb8]">validateKindleBuyNow</td> 
  <td>main@1759482496</td>   <td></td> </tr>
</table>
