<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e1bfe2">  <td>22/03/18 09:51:41</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Base.setupReporter()[pri:0, instance:pages.TestCaseRunner@f107c50]">&gt;&gt;setupReporter</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@2067532186</td>   <td></td> </tr>
<tr bgcolor="e1bfe2">  <td>22/03/18 09:51:41</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Base.setupReporter()[pri:0, instance:pages.TestCaseRunner@5ef5c734]">&gt;&gt;setupReporter</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1832035261</td>   <td></td> </tr>
<tr bgcolor="c79789">  <td>22/03/18 09:51:42</td>   <td>278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseRunner.validateKindleBuyNow(java.lang.String)[pri:0, instance:pages.TestCaseRunner@5ef5c734]">validateKindleBuyNow</td> 
  <td>TestNG-tests-2@1832035261</td>   <td></td> </tr>
<tr bgcolor="c79789">  <td>22/03/18 09:51:42</td>   <td>278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseRunner.validateKindleBuyNow(java.lang.String)[pri:0, instance:pages.TestCaseRunner@f107c50]">validateKindleBuyNow</td> 
  <td>TestNG-tests-1@2067532186</td>   <td></td> </tr>
<tr bgcolor="c79789">  <td>22/03/18 09:51:58</td>   <td>17082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCaseRunner.tearDownMethod(org.testng.ITestResult)[pri:0, instance:pages.TestCaseRunner@5ef5c734]">&lt;&lt;tearDownMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1832035261</td>   <td></td> </tr>
<tr bgcolor="c79789">  <td>22/03/18 09:52:02</td>   <td>20380</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCaseRunner.tearDownMethod(org.testng.ITestResult)[pri:0, instance:pages.TestCaseRunner@f107c50]">&lt;&lt;tearDownMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@2067532186</td>   <td></td> </tr>
<tr bgcolor="c79789">  <td>22/03/18 09:52:02</td>   <td>20477</td> <td title="&lt;&lt;TestCaseRunner.teardown()[pri:0, instance:pages.TestCaseRunner@5ef5c734]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2027317551</td>   <td></td> </tr>
</table>
